div.stColumn.st-emotion-cache-1h3k0y3.eiemyj2 {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    padding: 10px;
}

div.stAppViewContainer.appview-container.st-emotion-cache-1yiq2ps.ekr3hml0 {
    background-color:#7D7F7E
}
